<div>
    <div class="container">
        <div class="row">
        <div class="col-sm-12 text-center" ng-hide="nameEdit">
            <h2 ng-hide="nameEdit">User Name: {{user.name}}</h2>
            <a href="" ng-click="nameEdit=true">change</a>
        </div>
            <div class="col-sm-12 text-center" ng-show="nameEdit">
                <input type="text" placeholder="type your name" ng-model="user.name"></input>
                <button type="button" class="btn btn-primary" ng-click="setUserName(name)">change</button>
             </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <input type="text" placeholder="type room name" ng-model="room.name"></input>
                <button type="button" class="btn btn-primary" ng-click="createRoom(room.name)">Create a Room</button>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-4 col-sm-offset-4">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>Room Name</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(id, room) in rooms">
                            <td>{{room.name}}</td>
                            <td>
                                 <button type="button" class="btn btn-primary" ng-click="joinRoom(id)">Join</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--
<div ng-hide="true">
    <form class="form-signin" role="form">
        <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox">
            <a href="#"> Sign Up</a>
        </label>
        <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
    </form>
</div> -->