/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

h2 {
  text-align: center;
}

.pokerCard {
  position: relative;
  margin-left: -75px;
  float: left;
  border: 6px solid black;
  width: 140px;
  height: 200px;
  border-radius: 10px;
  background-color: royalblue;
  transition: all;
  transition-duration: 0.5s;
}

.pokerCard:first-child{
  margin-left: 0;
}

.pokerCard:hover{
  cursor: pointer;
  z-index: 99;
  background-color: firebrick;
  bottom: 30px;
}
.pokerCard.selected{
  z-index: 99;
  background-color: firebrick;
  bottom: 30px;
}

.pokerCard .ribbon {
  background-color: #fff;
  width: 100px;
  height: 2px;
  position: absolute;
  top: 27px;
  left: 18px;
}
.pokerCard .ribbon:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  top: -11px;
  left: 0px;
  background-color: #fff;
}
.pokerCard .ribbonValue {
  color: black;
  font-weight: 800;
  width: 23px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 19px;
  left: 18px;
}
.pokerCard .value {
  position: absolute;
  color: white;
  font-size: 60px;
  font-weight: bold;
  width: 130px;
  top: 66px;
  left: 0px;
  text-align: center;
}
