<div>
    <div class="container">
        <div class="row  row-eq-height">
            <div class="col-sm-3  col-sm-offset-1">
                <div class="row">
                    <div ng-repeat="(k,u) in room.room.users" class="sidebar-user" ng-class="{'selected': u.vote}">
                        <div class="name">
                            <div class="glyphicon glyphicon-tower" ng-show="room.room.owner == k"></div>
                            <div class="glyphicon glyphicon-user" ng-hide="room.room.owner == k"></div>
                            {{u.name}}
                            <div class="glyphicon glyphicon-remove" ng-click="room.kickUser(k)" ng-show="room.user.$id == room.room.owner && room.user.$id != k"></div>
                        </div>
                        <div class="vote" ng-class="{'visible':room.room.revealVote}">
                            <div>{{u.vote}}</div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-6">
                <h1>{{room.room.name}}</h1>
                <br />
                <div class="deckContainer">
                    <deck cards="room.cards" selected="room.room.users[room.user.$id].vote" closeable="true" selection="room.selectCard(value)"/>
                </div>
                <h1>{{data.text}}</h1>
            </div>
        </div>
        <br />
        <div class="row text-center">
            <div class="col-sm-3  col-sm-offset-1">
                <button type="button" class="btn btn-warning" ng-click="room.exitRoom()">Exit</button>
            </div>

            <div class="col-sm-6">
                <button type="button" class="btn btn-warning" ng-click="room.revealVotes(card)" ng-show="room.user.$id == room.room.owner">Reveal Votes</button>
                <button type="button" class="btn btn-warning" ng-click="room.restartRound(card)" ng-show="room.user.$id == room.room.owner">Restart Round</button>
            </div>
        </div>
    </div>
</div>
